body {
    background: #86CD65;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.container {
    margin: 20px auto;
    background: white;
    border: 1px solid green;
    border-radius: 2px;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 580px) {
    div.container {
        margin: 0;
        border: none;
    }
}
/*--------- NAVBAR --------*/

nav {
    background: #3E454C !important;
    border: 1px solid transparent !important;
    border-bottom: 3px solid #161616 !important;
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    font-family: Helvetica, sans-serif;
}

ul.navbar-nav li.active a {
    background-color: transparent !important;
    font-weight: bold;
    color:#8FBF4D !important;
}

ul.navbar-nav li:hover a {
    color:#8FBF4D !important;
}

nav li a,
a.navbar-brand {
    color: white !important;
    text-transform: uppercase;
}

a.navbar-brand {
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    font-size: 1.5em;
}
/*--------- MAIN --------*/

main {
    padding: 0 10px;
}

.contacts {
    border-left: 1px solid f4f4f4;
    background: #f4f4f4;
    width: 28%;
    padding: 10px;
}

@media screen and (max-width: 580px) {
    .contacts {
        width: 100%;
        margin-bottom: 10px;
    }
}

/*--------- FOOTER --------*/

.footer {
    border-top: 1px solid lightgrey;
    padding: 5px;
    color: grey;
    width: 98%;
    margin: 0 auto;
}

main h1, h2, h4 {
    color:#7b9b4d;
    font-weight: bold;
    font-family: 'Alegreya Sans SC', Helvetica, sans-serif;
}

p {
    font-family: Helvetica, sans-serif;
}
